body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.status {
    display: flex;
    align-items: center;
}

.status span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: -5px;
    margin-left: 5px;
}

.status .online {
    background-color: green;
}

.status .offline {
    background-color: red;
}

.status .deploying {
    background-color: orange;
}

.status .destroying {
    background-color: yellow;
}

.status .unknown {
    background-color: blue;
}

.status-msg {
    display: flex;
    align-items: flex-start;
}

.arrow {
    align-self: flex-start;
    font-size: 16px;
    margin-right: 5px;
    padding-left: 7px;
}

.icon {
    height: 100%;
    padding-right: 7px;
}

.msg {
    width: 100%;
    height: 100%;
    padding-top: 2px;
    color: #FFD740;
}

.sandbox-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 900;
    color: white;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    color: orange;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sandbox-button:hover {
    background-color: orange;
    color: black;
}

.sandbox-button:disabled {
    background-color: transparent;
    cursor: not-allowed;
}

.spinner {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid orange;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: none;
}

.sandbox-button.loading .spinner {
    display: block;
    /* Mostrar spinner cuando esta cargando */
}

.sandbox-button.loading span {
    visibility: hidden;
    /* Ocultar Texto cuando el spinner esta visible */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.apps-button {
    display: flex;
    /* Flexbox para alinear contenido horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: -7px 10px 0px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.apps-button:hover {
    background-color: orange;
    color: #eee;
    font-weight: bold;
}

.apps-button-icon {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: 16px;
    margin-right: 8px;
    /* Espacio entre el ícono y el texto */
    margin-left: 10px;
}

.app-button-selected {
    border: 1px solid white;
}

.external-link-icon {
    width: 10px;
    height: 10px;
    padding-left: 8px;
}

.hidden {
    display: none;
}

.tools-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.select-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.custom-select {
    width: 100%;
    background-color: #202233;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select:focus {
    outline: none;
    border-color: white;
}

.custom-select option {
    background-color: #1E1E2F;
    color: #FFFFFF;
    padding: 10px;
}

.custom-select option:hover {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.custom-select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    margin-top: 5px;
    font-size: 14px;
}


.spinner1 {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
